body {
  background-color: rgb(35, 41, 47);
}

.App {
  height: -webkit-fill-available;
  min-height: 100%;
  width: 100%;
  padding: 20px;
  background: rgb(35, 41, 47);
  color: #ededed;
  text-align: center;
  font-family: Noto Sans Japanese, Noto Sans, sans-serif;
}

.players-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.admin-menu {
  text-align: left;
}
